@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", serif;
    /* background-color: green; */
   padding: 0;
   margin: 0;
   box-sizing: 0;
   overflow-x: hidden;
}
.profile {
   display: flex;
   justify-content: center;
   align-items: center;
   margin:20px;
}
/* .profile img{
    width: 70%;
} */
.company-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 10px 3rem;
    margin-top: 30px;
    background-color:#093b5a;
    color: white;
}
.company-profile img{
    width: 40%;
}
.texts-content h3{
  font-size: 25px;
}
.third-row {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.third-row img{
    width: 90%;
}
.third-row p{
    text-align: center;
}
.fourth-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 20px 3rem;
  gap: 5rem;
  margin-top: 30px;
}
.fourth-row img{
    width: 30%;
}
.div-text p{
    display: flex;
    align-items: center;
    gap: 20px;
}
.div-text .number{
color: white;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
}
.special,.solution{
    padding: 20px 3rem;
    background-color: #093b5a;
    color: white;
}
.fifth-row{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 30px 3rem;
}
.sixth h3{
    text-align: center;
    padding:20px;
    background-color: #093b5a;
    color: white;
    font-size: 20px;
}
.sevennth{
    display: flex;
    justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.carriere{
    background-color: #093b5a;
    padding: 30px 3rem;
}
.sevennth .letters{
    background-color: white;
    color: #093b5a;
    width: 50%;
    padding: 30px;
}
.eighth{
    display: flex;
    padding: 30px 3rem;
    justify-content: space-between;
  gap: 7rem;
  margin-top: 40px;
}
.eighth img{
  width: 80%;
}
@media screen and (max-width:768px) {
  .company-profile{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
   
  }  
  .company-profile img{
    width: 100%;
  }
  .fourth-row{
    flex-direction: column;

  }
  .fourth-row img{
    width: 100%;
  }
  .fifth-row{
    flex-direction: column;
    gap: 20px;
 
  }
  .sevennth{
    flex-direction: column;
    align-items: flex-start;

  }
  .sevennth .letters{
    width: 95%;
  }
  .sevennth img{
    margin-top: 30px;
  }
  .eighth{
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
 
  }
}